<footer>
		<!-- footer widget-container start -->
		<div class="container ">
			<!-- footer widget 1 -->
				<div class="col-sm-4">
					{{> widget-follow}}
				</div>
				<!-- footer widget 2 -->
				<div class="col-sm-4">
					{{> widget-text-footer}}
				</div>
				<!-- footer widget 3 -->
				<div class="col-sm-4 widget">
					{{> widget-donate}}
				</div>
				<div class="col-sm-12">
				   <div class="footer">
					<small>Copyright &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}} &bull; All rights reserved. Site design by <a href="http://www.owlystudios.com">Owly</a></small>
					</div>
				</div>
			</div>
		</div>
		<!-- footer widget-container end -->
		<!-- start footer copyright section -->
	</footer>