<!-- start header -->
 
<div ng-app="animateApp" style="z-index: 9999999;">
 <div ng-view></div>
 </div>

 <!--
    <header id="top-section"></header>

  <div class="inner-top-bg">   

  <div class="jumbotron">
    <div class="container">
      <div class="row">
      
        <div class="text-center col-sm-12 col-lg-12">
        <div class="intro">
          <h1 class="titleFont">WELCOME TO UBB</h1>
          <p class="lead">
            Freedom through education.
          </p>
          </div> 
          <div class="intro-bottom">
            <div class="text-center col-sm-4">
          <span class="" id="startbtn">
          <a class="btn btn-start btn-default" href="/pac">Meet Our Students</a>
          </span>
          </div>
           <div class="text-center col-sm-4">
          <span class="" id="startbtn">
          <a class="btn btn-start btn-default" href="/volunteer">Volunteer with Us</a>
          </span>
          </div>
           <div class="text-center col-sm-4">
          <span class="" id="startbtn">
          <a class="btn btn-start btn-default" href="/events/">Upcoming Events</a>
          </span>
          </div>
          </div> 
        </div>
      </div>
    </div>
      </div>

  </div>-->
	<!-- end header -->