<!-- start header -->
<section>

<div class="col-sm-12">
               <!-- start widget -->
<div class="sidebar-widget">
    <h4 class="title">Get Involved</h4>
    <div class="content clearfix">
        <div>
            <div>

            <form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Name</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="First Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Last Name</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Email Address</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-primary">Subscribe</button>
</form>



                </div>
        </div>
    </div>

    <div class="content clearfix">
        <div>
            <div>
              <div class="col-xs-6 col-sm-3">
            <div class="fb-like" data-href="https://www.facebook.com/UniversityBeyondBars" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>

  <div class="col-xs-6 col-sm-3">
            <a href="https://twitter.com/ubbseattle" class="twitter-follow-button" data-show-count="false">Follow @ubbseattle</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

             </div>
        </div>
    </div>


</div>
<!-- end widget -->
                </div>
                <!-- footer widget 2 -->
                
</section>


	<!-- end header -->