
		<!-- footer widget-container start -->
		<div class="widget-container">
			<!--<div class="container">-->
				<!-- footer widget 1 -->
				<div class="col-sm-4">
					{{> widget-recentpost}}
				</div>
				<!-- footer widget 2 -->
				<div class="col-sm-4">
					{{> widget-event}}
				</div>
				<!-- footer widget 3 -->
				<div class="col-sm-4 widget">
					{{> widget-amazon}}
				</div>
			<!--</div>-->
		</div>
		<!-- footer widget-container end -->
		
