<!-- sratr sidebar -->
<div class="col-md-4 sidebar">
	<!-- you can add or remove widget below -->
	{{> widget-recentpost}}
	{{> widget-staticpage}}
	{{> widget-text}}
	{{> widget-facebook}}
</div>
<!-- end sidebar -->