<!-- start widget -->
<div>
	<h4 class="section1-font"><strong>Who We Are</strong></h4>
	<div class="content clearfix textCenter">
		<p><strong>University Beyond Bars</strong> seeks to replace incarceration with education and to build a society where all people are given the chance to transform themselves and their communities.</p>
		<p>PO Box 31525</br>
		Seattle, WA</br>
		98103</br>
		</br>
		Email: <a href="mailto:universitybeyondbars.org">info@universitybeyondbars.org</a>
		</p>

	</div>
</div>
<!-- end widget -->