<!-- start widget -->
<div class="sidebar-widget">
	<h4 class="title col-centered">Give BIG on May 6th!</h4>
	<div class="content clearfix">
	    <img src="assets/images/giveBig.jpg">
	    <hr>
	    <div class="col-centered">
	    	<a class="btn btn-primary" href="http://www.seattlefoundation.org/npos/Pages/PrisonersEducationNetwork.aspx?bv=nposearch" target="_blanK">Donate</a>
	    </div>
	</div>
</div>
<!-- end widget -->