<!-- start follow widget -->

	<h4 class="section1-font"><strong>Stay Connected</strong></h4>
	

		<style>
		.cd-dropdown {
	
     list-style:none;
		}

		.followform {
background-color: #ebebeb;
	width: 100%;
	margin: 0px auto;
	margin-top: 23px;
	padding-right: 10px;
	padding-left: 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding-bottom: 7px;
	padding-top: 10px; 
}

		.cd-dropdown {
			padding-left: 10px;
		}
		.cd-dropdown > li > span {
			margin: 0 auto;
		}

		.cd-dropdown > li > span > img {
		width: 60px;
		opacity: .7;
		 display:block;
    margin:auto;
		}

		.cd-dropdown > li {
		width: 49%; 
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		background-color: #fff;
		padding: 5px;
	
		border-bottom: 1px solid #ccc;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
		}

		.cd-dropdown > li:hover, .cd-dropdown > li:focus {
			opacity: 0.5;
			cursor: pointer;
		}
		.padSocial {
			padding-left: 50%;
			margin: 0 auto;
		}
		.arrowRight {
			float: right;
			top: 50%;
			vertical-align:middle;
			-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
		}
		.arrowBlog {
			float: right;
		}



		.subscribe-container {
	/*padding-right: 15px;*/
}
.subscribe-container .submit {
	cursor: pointer;
	 
	width: 100%; 
	/*margin-top: 7px; */
	border: 1px solid #19a8a1; 
	border-radius: 0px 4px 4px 0px;  
	background-color: #05a3e5; 
	background-image: linear-gradient(180deg, #05a3e5, #05a3e5);  
	box-shadow:  inset 0 1px 0 0 rgba(255,255,255,0.4), inset 0 80px 57px -60px rgba(255,255,255,0); 
	transition:  box-shadow 150ms ease-in-out, undefined undefined undefined, undefined undefined undefined;  
	color: white; 
	text-decoration: none; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4); 
	font-size: 15px;
	/*margin-left: 10px;
	padding-right: 10px;*/
	height: 34px;
}

.subscribe-container .submit:hover {
box-shadow:  inset 0 1px 0 0 rgba(255,255,255,0.6), inset 0 80px 57px -60px rgba(255,255,255,0.3); 
}

</style>

					<div class="followform">
					<ul class="cd-dropdown" style="text-align: center;">
						<p><span style="color: #5F5E5D; text-align: center; text-shadow: 0px 1px 0px #e5e5ee;">Join Us in Our Social Circles</span></p>
			
						<li><span class="padSocial"><img src="/assets/images/facebook_bw.png"></span></li>
						<li><span class="padSocial"><img src="/assets/images/twitter_bw.png"></span></li>
						
						<li><span class="padSocial"><img src="/assets/images/linkedin_bw.png"></span></li>
						<li><span class="padSocial"><img src="/assets/images/google_bw.png"></span></li>
					</ul>
					 <div class="input-group" style="padding-left: 10px;">
      <input type="text" class="form-control" placeholder="Enter Email">
      <span class="input-group-btn">
      <div class="subscribe-container">
        <button class="submit" type="button">Subscribe</button>
        </div>
      </span>
    </div><!-- /input-group -->
				</div>
	
<!--

		<style>
		.cd-dropdown {
	
     list-style:none;
		}

		.followform {
background-color: #ebebeb;
	width: 100%;
	margin: 0px auto;
	margin-top: 23px;
	padding-right: 10px;
	padding-left: 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding-bottom: 7px;
	padding-top: 10px; 
}

		.cd-dropdown {
			padding-left: 10px;
		}

		.cd-dropdown > li > span > img {
		width: 60px;
		opacity: .7;
		}

		.cd-dropdown > li {
		margin: 0 auto;
		background-color: #fff;
		padding: 5px;
	
		border-bottom: 1px solid #ccc;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
		}

		.cd-dropdown > li:hover, .cd-dropdown > li:focus {
			opacity: 0.5;
			cursor: pointer;
		}
		.padSocial {
			padding-left: 50px;
		}
		.arrowRight {
			float: right;
			top: 50%;
			vertical-align:middle;
			-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
		}
		.arrowBlog {
			float: right;
		}

</style>

					<div class="followform">
					<ul class="cd-dropdown">
						<li>Join Us on <div class="content clearfix"></div><span class="padSocial"><img src="/assets/images/facebook_bw.png"></span><span class="arrowRight"><i class="fa fa-angle-right"></i></span></li>
						<li>Follow Us on  <div class="content clearfix"></div><span class="padSocial"><img src="/assets/images/twitter_bw.png"></span><span class="arrowRight"><i class="fa fa-angle-right"></i></span></li>
						<li>View Our <div class="content clearfix"></div><span class="padSocial"><img src="/assets/images/linkedin_bw.png"></span><span class="arrowRight"><i class="fa fa-angle-right"></i></span></li>
						<li>Add Us on  <div class="content clearfix"></div><span class="padSocial"><img src="/assets/images/google_bw.png"></span><span class="arrowRight"><i class="fa fa-angle-right"></i></span></li>
						<li>Check out our Blog<span class="arrowBlog"><i class="fa fa-angle-right"></i></span></li>
					</ul>
				</div>
	
	-->
			

<!-- end widget -->