<!-- start widget -->
<div class="sidebar-widget">
	<h4 class="title">Static Page</h4>
	<div class="content clearfix">
		<ul class="static-link">
			<li><a href="#">Who I am?</a></li>
			<li><a href="">My Work</a></li>
			<li><a href="">Contact Me</a></li>
		</ul>
	</div>
</div>
<!-- end widget -->