<!-- start widget -->
<div class="sidebar-widget">
	<h4 class="title">Text Widget</h4>
	<div class="content clearfix">
		<h4>Highlight something here</h4>
		<p>some example Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eos, neque veritatis dolorem rem vel.</p>
	</div>
</div>
<!-- end widget -->