
<!-- start follow widget -->
<div class="sidebar-widget">
	<h4 class="title">Google+</h4>
	<div class="content clearfix">
		<div class="gogle-plus-badge"></div>
	</div>
</div>
<!-- end widget -->