<!-- start widget -->
<div class="sidebar-widget">
	<h4 class="title col-centered">Amazon Smile</h4>
	<div class="content clearfix">
	    <img src="assets/images/amazon_smile.png">
	    <div class="row">
		<div class="col-centered">
		<a class="amazonButton" href="http://smile.amazon.com/ch/20-3469787" target="_blanK_">Get Started</a>
		</div>
		</div>
		<div class="row">
		<div class="col-centered">
		<h3 style="color:#666; text-shadow: none;">Shop at AmazonSmile</h3>
		<p>and Amazon will make a donation to University Beyond Bars!</p>
		</div>
		</div>
	</div>
</div>
<!-- end widget -->