<!-- start follow widget -->
<div class="sidebar-widget">
	<h4 class="title">Fliker Stream</h4>
	<div class="content clearfix">
		<ul class="flickr-stream-container">
		</ul>
	</div>
</div>
<!-- end widget -->