.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.icon-pencil {
	fill: #000000;
}
.icon-pencil2 {
	fill: #000000;
}
.icon-quill {
	fill: #000000;
}
.icon-book {
	fill: #000000;
}
.icon-file {
	fill: #000000;
}
.icon-users {
	fill: #000000;
}
.icon-stats {
	fill: #000000;
}
.icon-bars {
	fill: #000000;
}
.icon-globe {
	fill: #000000;
}
.icon-earth {
	fill: #000000;
}
.icon-bookmarks {
	fill: #000000;
}
.icon-checkmark {
	fill: #000000;
}
.icon-share {
	fill: #000000;
}
.icon-mail {
	fill: #000000;
}
.icon-googleplus {
	fill: #000000;
}
.icon-facebook {
	fill: #000000;
}
.icon-twitter {
	fill: #000000;
}
.icon-twitter2 {
	fill: #000000;
}
