{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

    {{> nav}}
  
     
  
       <style>
    .page-content {
      margin-top: 150px;
    }
    body {
      background-color: #f9f9f9;
    }
    footer {
      min-height:0px;
    }
    h1,h2,h3,h4,h5,h6{
      font-weight:200;
      font-family: 'Raleway', 'Lato', Arial, sans-serif;
        color: #5F5E5D;
        text-shadow: 0 0px 0px rgba(0,0,0,0.3);
    }
    </style>
 
<div class="container page-content">
<div class="row">
<h1 class="timeline-title">ABOUT US</h1>
<p>
Founded in 2005, University Beyond Bars was the first program to offer college instruction at Washington State Reformatory after the legislature prohibited public funding of prison college programs in 1995. Today, UBB offers higher education and enrichment programming to over 160 prisoners at Washington State Reformatory and the Minimum Security Unit, both at Monroe Correctional Complex.
</p>
<p>
We provide higher education to people behind bars to salvage the wasted potential of those our society has imprisoned and to transform them into productive, contributing citizens. We work to create a cooperative learning community inside Washington State prisons where all experience is valued and the benefits of higher education are made available to all who desire them.
</p>
<p>
We do this because …</p>
<ul>
<li>the United States imprisons a higher percentage of its people than any other country in the world.</li>
<li>people of color are imprisoned at over ten times the rate of white people.</li>
<li>currently, nearly seven out of ten prisoners released back into the community return to prison within three years.</li>
<li>the single most effective way to reduce recidivism is post-secondary education</li>
</ul>

</div>


<div class="row">
<h1 class="timeline-title">Mission</h1>
<p>
University Beyond Bars (UBB) exists to address the social problems of violence, poverty, and wasted human potential by providing post-secondary education to incarcerated people in Washington State. We are particularly committed to providing access to higher education to people of color, who disproportionately make up the prison population. Our work reflects the twin goals of reducing recidivism by preparing prisoners to re-enter society as successful, productive members of their communities, and reducing prison violence by providing meaningful intellectual pursuits and hope to those who are serving time.</p>
</div>
<div class="row">
<h1 class="timeline-title">Vision</h1>
<p>
To replace incarceration with education and build a society where all people are given the chance to transform themselves and their communities. </p>
</div>
</div> <!-- container -->
   <div class="container">
    <div class="page-header">
        <h1 class="timeline-title">The road to success</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge">1994</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">U.S. Congress Cuts Grants</h4>
              <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>-->
            </div>
            <div class="timeline-body">
              <p>The United States Congress eliminates educational Pell Grants for prisoners.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">1995</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Washington State Cuts Funding</h4>
            </div>
            <div class="timeline-body">
              <p>The Washington State legislature effectively eliminates funding of post-secondary education in prisons.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">2003</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Leadership develops</h4>
            </div>
            <div class="timeline-body">
              <p>A prison college program is informally established by Carol Estes, editor of the national magazine YES! and Gary Idleburg, a county municipal planner. As sponsors of the Black Prisoners Caucus, they volunteer their time to teach small business management, creative writing, and African-American History inside the walls of the Washington State Reformatory in Monroe, Washington.
</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-badge success">2005</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Carol and Gary formally establish University Beyond Bars (UBB) which incorporates as a 501(c)(3) nonprofit organization.
</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info">2006</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">First Associate Degree</h4>
            </div>
            <div class="timeline-body">
              <p>The first Associate’s Degree is awarded to a UBB student.
</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
       
        <li class="timeline-inverted">
          <div class="timeline-badge success">2011</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>UBB co-hosts the National Conference on Prison Higher Education with the University of Washington.
</p>
            </div>
          </div>
        </li>
        
         <li>
         <div class="timeline-badge info">2010</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">RiverStyx Grant</h4>
            </div>
            <div class="timeline-body">
              <p>A RiverStyx Foundation grant helps UBB expand its operations, becoming a nationally-lauded prison education program.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-badge success">2005</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>UBB Executive Director, Carol Estes, is chosen from a pool of over 600 nominees nationwide and named an Encore Purpose Prize Fellow in recognition of her work with UBB. The Purpose Prize recognizes people over 60 who are combining their passion and experience for social good by creating new ways to solve tough social problems.
</p>
            </div>
          </div>
        </li>
    </ul>
</div>
	
	<!-- end main content area -->
	<!-- start footer -->

	{{> footer}}