{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

    {{> nav}}


    <style>
    .page-content {
      margin-top: 150px;
    }
    body {
      background-color: #f9f9f9;
    }
    footer {
      min-height:0px;
    }
    h1,h2,h3,h4,h5,h6{
      font-weight:200;
      font-family: 'Raleway', 'Lato', Arial, sans-serif;
        color: #5F5E5D;
        text-shadow: 0 0px 0px rgba(0,0,0,0.3);
    }

    div.list-group-item {
    height:auto;
    min-height:200px;
}

    div.list-group-item .col-md-6 {
      padding-top: 20px;
    }
div.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
    </style>
  
    
 
<div class="container page-content">
<div class="row">
<h3>Our Partners</h3>
<p>
<strong>University Beyond Bars</strong> believes in the collaborative power, wisdom, and benefit of working with other programs committed to higher education and social justice reform. We are grateful for the support of our many partners within Washington and beyond.
</p>

</div>
 </div>

 <div class="container">
    <div class="row">
    <div class="well">
        <div class="list-group">
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="/assets/images/partners/fepps.png" alt="FEPPS Logo" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a href="http://fepps.org/" target="_blank">Freedom Education Project Puget Sound</a> (FEPPS)</h4>
                    <p class="list-group-item-text"> FEPPS is a non-profit organization that offers a college program inside the Washington Correction Center for Women. FEPPS and UBB staff and instructors frequently collaborate on teacher recruitment, teacher training, and curriculum development.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> <small>Check out their <strong>website</strong></small></h2>
                    <a href="http://fepps.org/" target="_blank" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span></a>
                    
                </div>
          </div>
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="/assets/images/partners/teach.jpg" alt="TEACH Logo" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a href="http://www.blackprisonerscaucus.org/currentprogramsofbpc/t-e-a-c-h" target="_blank">Taking Education and Creating History</a> (TEACH)</h4>
                    <p class="list-group-item-text"> TEACH is a new program offered through the <a href="http://www.blackprisonerscaucus.org/home" target="_blank">Black Prisoners Caucus</a>. TEACH is a higher education program designed to bring college level education to the men incarcerated at Clallam Bay Corrections Center.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> <small>Check out their <strong>website</strong></small></h2>
                    <a href="http://www.blackprisonerscaucus.org/currentprogramsofbpc/t-e-a-c-h" target="_blank" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span></a>
                    
                </div>
          </div>
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="/assets/images/partners/scc.png" alt="SCC Logo">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a href="http://www.seattlecentral.edu/" target="_blank">Seattle Central College</a></h4>
                    <p class="list-group-item-text"> Beginning in 2014, UBB and Seattle Central College partnered together to grant college credit to UBB students enrolled in our college pathway courses. Together, UBB, TEACH, and Seattle Central College hope to continue expanding access to higher education for those incarcerated in Washington State.                   
                    </p>
                </div>
                <div class="col-md-3 text-center">
                   <h2> <small>Check out their <strong>website</strong></small></h2>
                    <a href="http://www.seattlecentral.edu/" target="_blank" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span></a>
                    
                </div>
          </div>
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="/assets/images/partners/lsj.png" alt="LSJ Logo">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a href="http://depts.washington.edu/lsjweb/" target="_blank">Law, Societies, and Justice </a>(LSJ) at the University of Washington</h4>
                    <p class="list-group-item-text"> UBB and the Law, Societies, and Justice (LSJ) at UW-Seattle work together to provide quarterly internship opportunities for advanced LSJ students. Students complete 100 hours of volunteer service to UBB through a combination of inside and outside work with UBB.                   
                    </p>
                </div>
                <div class="col-md-3 text-center">
                   <h2> <small>Check out their <strong>website</strong></small></h2>
                    <a href="http://depts.washington.edu/lsjweb/" target="_blank" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span></a>
                    
                </div>
          </div>
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="/assets/images/partners/tebb.png" alt="TEBB Placeholder Logo">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a href="http://students.washington.edu/medinad/tebb/?q=node/67
http://depts.washington.edu/uwch/projects/public-humanities-scholarship/transformative-education-behind-bars" target="_blank">Transformative Education Behind Bars</a> (TEBB) at the University of Washington</h4>
                    <p class="list-group-item-text"> TEBB is a consortium of college and university educators and nonprofit organizations whose purpose is to develop and support higher education programs for prisoners in the Washington State Corrections Systems. In 2011, TEBB and UBB co-hosted the National Conference on Prison Higher Education, which included a site visit with UBB and a panel discussion with UBB’s Prisoner Advisory Committee.                  
                    </p>
                </div>
                <div class="col-md-3 text-center">
                   <h2> <small>Check out their <strong>website</strong></small></h2>
                    <a href="http://students.washington.edu/medinad/tebb/?q=node/67
http://depts.washington.edu/uwch/projects/public-humanities-scholarship/transformative-education-behind-bars" target="_blank" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span></a>
                    
                </div>
          </div>
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="/assets/images/partners/hope.png" alt="HOPE Logo">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a href="https://www.facebook.com/UWHOPE" target="_blank">Huskies for Opportunities in Prison Education </a>(HOPE) at the University of Washington</h4>
                    <p class="list-group-item-text"> HOPE is a student group at the University of Washington which aims to connect students in correctional facilities with students at UW through education and to conduct service projects that benefit both communities. HOPE has supported UBB through outreach events, textbook drives, and volunteer recruitment.                  
                    </p>
                </div>
                <div class="col-md-3 text-center">
                   <h2> <small>Check out their <strong>website</strong></small></h2>
                    <a href="https://www.facebook.com/UWHOPE" target="_blank" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span></a>
                    
                </div>
          </div>
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="/assets/images/partners/naacp.jpg" alt="NAACP Logo">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a href="http://www.naacp-snoco.org" target="_blank">NAACP of Snohomish County</a></h4>
                    <p class="list-group-item-text"> The mission of the Snohomish County Branch of the National Association for the Advancement of Colored People is to ensure the political, educational, social and economic equality of rights of all persons of Snohomish County and to eliminate racial hatred and racial discrimination. UBB and NAACP are partnering together for UBB’s first breakfast series in June 2014.                 
                    </p>
                </div>
                <div class="col-md-3 text-center">
                   <h2> <small>Check out their <strong>website</strong></small></h2>
                  <a href="http://www.naacp-snoco.org" target="_blank" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span></a>
                    
                </div>
          </div>
        </div>
        </div>
  </div>
</div>
	
	<!-- end main content area -->
	<!-- start footer -->

	{{> footer}}