{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

    {{> nav}}


      
       <style>
    .page-content {
      margin-top: 150px;
    }
    body {
      background-color: #f9f9f9;
    }
    footer {
      min-height:0px;
    }
    h1,h2,h3,h4,h5,h6{
      font-weight:200;
      font-family: 'Raleway', 'Lato', Arial, sans-serif;
        color: #5F5E5D;
        text-shadow: 0 0px 0px rgba(0,0,0,0.3);
    }
    </style>
 
<div class="container page-content">
<div class="row">
 <div class="col-md-9">
<h3>Our Teachers</h3>
<p>
All of our instructors, tutors, and guest lecturers donate their time and services to University Beyond Bars (UBB).  Our stellar faculty consists of professors and graduate students from area universities and community colleges, as well as professional experts.  Our teachers collectively donate nearly 1,000 hours per month, an in-kind donation that is valued at over $220,000 per year. We are extremely grateful for their contribution to our program.</p>
<p>
Most of our volunteers hold a Master’s or Doctoral degree. We are fortunate to attract faculty from Antioch University, Cornish School of the Arts, Green River Community College, Seattle Community College, Seattle University, and the University of Washington. </p>
<p>
In addition to teaching, some of our volunteers are also members of UBB’s Education Advisory Committee (EAC). The EAC supports UBB in the areas of teacher training and recruitment, curriculum development, institutional partnerships, and regional coalition building. The EAC is chaired by Gillian Harkins, who received the <a href="http://depts.washington.edu/uwch/news/2012/05/uw-faculty-receive-prizes-fellowships-awards" target="_blank">S. Sterling Munro Public Service Teaching Award</a> in 2012 for her work. The EAC is often the entry point for new UBB teachers.
</p>
<p>
Are you a current UBB teacher looking for examples of past syllabi, handouts, or other teaching resources? Transformative Education Behind Bars, a collaboration between Washington’s prison educators, has a website that has all of those and more! Check out the website <a href="http://students.washington.edu/medinad/tebb/?q=node/67" target="_blank">here</a>.
</p>
</div>
 <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-globe fa-fw"></i>Our Impact</a></li>
                <li class="divider"></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-certificate fa-fw"></i>Programs</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-pencil fa-fw"></i>Art Class</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-star fa-fw"></i>PAC</a></li>
                <li class="active"><a href="http://www.jquery2dotnet.com"><i class="fa fa-book fa-fw"></i>Teachers</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-group fa-fw"></i>Partners</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-mail-forward fa-fw"></i>Learn More</a></li>
            </ul>
        </div>
</div>
 </div>


 <div class="container">
    <div class="row">
    <div class="well">
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center">Jen Arthur</h4>
               <h5 class="text-center">UW Biology and Global Health</h5>
           </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.instruction.greenriver.edu/bahl/" target="_blank">Vik Bahl</a></h4>
               <h5 class="text-center">Green River Community College</h5>
           </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="https://www.blogger.com/profile/12265313294414726626" target="_blank">Marc Barrington</a></h4>
           </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
               <h4 class="text-center"><a href="http://www.barbara-bennett.com/About.html" target="_blank">Barbara Bennett</a></h4>
               <h5 class="text-center"> </h5> 
           </div>
          </div>
        </div>
            


        </div>
  </div>
</div>
	
	<!-- end main content area -->
	<!-- start footer -->

	{{> footer}}