
.morph-button.open .content-style-form-4 p {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
	transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.morph-button.open .content-style-form-4 p:nth-child(2) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.content-style-social {
	padding: 30px;
	text-align: left;
}

.morph-button-inflow-2 > button svg {
	display: inline-block;
	padding-right: 10px;
	width: 20px;
	height: 20px;
	vertical-align: -5%;
}

.morph-button-inflow-2 > button svg path {
	fill: #fff;
}

.content-style-social a {
	display: block;
	padding: 0.5em 0;
	color: #67c2d4;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.8em;
	line-height: 32px;

}

.js .content-style-social a {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.content-style-social a:hover {
	color: #fff;
}

.content-style-social a:hover svg path {
	fill: #fff;
}

.content-style-social a svg {
	display: inline-block;
	padding-right: 10px;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
}

.morph-button-inflow.open .content-style-social a {
	-webkit-transform: translateX(0);
	transform: translateX(0);	
}

.morph-button-inflow.open .content-style-social a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.morph-button-inflow.open .content-style-social a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.content-style-video {
	text-align: left;
}

.video-mockup {
	width: 640px;
	height: 360px;
	max-width: 100%;
	background: url(../img/rated.png) no-repeat center center;
	background-size: 100%;
}

.content-style-video .icon-close,
.content-style-video .icon-pause {
	color: #286f81;
}

.content-style-video .icon-close {
	top: 0;
	right: 0;
}

.content-style-video .icon-close:hover {
	color: rgba(0,0,0,0.4);
}

.controls {
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.js .controls {
	position: absolute;
}

.controls span {
	display: inline-block;
}

.content-style-video .icon-pause {
	overflow: hidden;
	width: 2.5em;
	height: 2.5em;
	text-align: center;
	line-height: 2.5;
	cursor: pointer;
	vertical-align: bottom;
}

.content-style-video span.time {
	color: #286f81;
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 40px;
}

.controls::after {
	content: '';
	position: absolute;
	height: 7px;
	left: 100px;
	right: 70px;
	bottom: 16px;
	background: #aaa;
}

.content-style-sidebar h2 {
	font-weight: 300;
	font-size: 2em;
	padding: 0.75em 0 0.75em 1em;
	margin: 0;
	color: #bb4445;
}

.content-style-sidebar .icon-close {
	top: 0;
	right: 0;
	font-size: 0.85em;
}

.content-style-sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.content-style-sidebar ul li a {
	display: block;
	padding: 12px 20px;
	color: #faf1e0;
	font-weight: 400;
	font-size: 1.05em;
	box-shadow: inset 0 1px rgba(0,0,0,0.1);
}

.content-style-sidebar ul li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.1);
}

.content-style-sidebar ul li a:hover {
	background: rgba(0,0,0,0.1);
	box-shadow: none;
}

.content-style-sidebar ul .icon::before {
	display: inline-block;
	width: auto;
	margin-right: 20px;
	font-size: 1.5em;
	vertical-align: -10%;
	color: rgba(0,0,0,0.2);
}

@media screen and (max-width: 770px) {
	.content-style-overlay {
		font-size: 75%;
	}

	.content-style-overlay .icon-close {
		top: 5px;
		right: 5px;
	}
}

















